@page "/contact"

<Client.Components.Public.Shared.Navbar />

<main class="container min-vh-90 py-md-5">
	<div class="row p-4 mt-md-5 shadow-no-hover">
		<div class="col">
			<h1 class="mb-4">Contact</h1>
			<p class="mb-5">
				You can contact me pretty much anywhere, but I recommend social media :D
			</p>
			<div class="d-flex flex-row w-100 justify-content-center">
				<a href="https://example.com/" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
					<i class="fab fa-github-square"></i>
				</a>

				<a href="https://example.com/" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
					<i class="fab fa-youtube-square"></i>
				</a>

				<a href="https://example.com/" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
					<i class="fab fa-linkedin"></i>
				</a>

				<a href="https://example.com/" target="_blank" class="text-dark f-size-3 mx-2 mx-lg-4">
					<i class="fab fa-twitter-square"></i>
				</a>
			</div>
		</div>
	</div>
</main>

<Client.Components.Public.Shared.Footer />