@page "/portfolio"

<Client.Components.Public.Shared.Navbar />

@if (_showingExamplePortfolioProjectModalWindow == true)
{
	<Client.Components.Public.Portfolio.ExamplePortfolioProjectModalWindow ParentMethodToCallOnClickBtnClose="() => _showingExamplePortfolioProjectModalWindow = false" />
}

<main class="container min-vh-90 py-5">
	<div class="row">
		<div class="col">
			<h1 class="mt-3">Portfolio</h1>

			<p>Here you can find some of the best projects I have made. Take a look and feel free to contact me about them.</p>

			<div class="row mt-4">
				<div class="col-md-4 my-2">
					<div class="card shadow">
						<img src="assets/img/publicbackgrounds/project1.png" alt="Portfolio project thumbnail image" />

						<div class="card-body">
							<h3 class="card-title fw-bold">SignalR Live Chat</h3>
							<p class="card-text">
								Live chat through SignalR websockets for real time connections. Multiple users from different browsers can join the conversation instantly!
							</p>
						</div>

						<button @onclick="() => _showingExamplePortfolioProjectModalWindow = true" class="btn btn-primary stretched-link">
							<i class="fas fa-info-circle"></i> More information
						</button>
					</div>
				</div>

				<div class="col-md-4 my-2">
					<div class="card shadow">
						<img src="assets/img/publicbackgrounds/project2.png" alt="Portfolio project thumbnail image" />

						<div class="card-body">
							<h3 class="card-title fw-bold">Fullstack Contact Manager App</h3>
							<p class="card-text">
								Contact manager developed with C# Razor pages implementing a Clean Architecture. CRUD operations were validated with unit testing to ensure a good performance of the MSSQL database.
							</p>
						</div>

						<button @onclick="() => _showingExamplePortfolioProjectModalWindow = true" class="btn btn-primary stretched-link">
							<i class="fas fa-info-circle"></i> More information
						</button>
					</div>
				</div>

				<div class="col-md-4 my-2">
					<div class="card shadow">
						<img src="assets/img/publicbackgrounds/project3.png" alt="Portfolio project thumbnail image" />

						<div class="card-body">
							<h3 class="card-title fw-bold">Blazor WASM Blog Manager (.this)</h3>
							<p class="card-text">
								This is the website you are watching! Please feel free to look around as this is a good demonstration of my skills.
								@*@(String.Join(" ", _exampleExcerpt.Split().Take(43).ToArray()))...*@
							</p>
						</div>

						<button @onclick="() => _showingExamplePortfolioProjectModalWindow = true" class="btn btn-primary stretched-link">
							<i class="fas fa-info-circle"></i> More information
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<Client.Components.Public.Shared.Footer />

@code
{
	private bool _showingExamplePortfolioProjectModalWindow = false;

	private string _exampleExcerpt = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi gravida eget tellus nec ornare." +
									" Mauris ac nisi sit amet erat feugiat consequat id sit amet erat. Integer at erat vitae est volutpat gravida sit amet nec velit." +
									" Phasellus et faucibus ex, id feugiat mi. Etiam justo est, sodales nec convallis non, pulvinar in nulla." +
									" Proin sed rutrum neque, ut posuere est. Pellentesque consequat nunc sit amet libero tempus, vitae lacinia est fringilla." +
									" Fusce ullamcorper pellentesque pulvinar. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus." +
									" tempus nisl et tellus efficitur, ac facilisis sapien tristique. Etiam interdum nisl nec aliquet semper." +
									" Curabitur sagittis leo enim, sit amet pretium nisi facilisis id. Donec non maximus nulla, vel dapibus urna." +
									" Aenean a lectus nibh. Nullam luctus vel magna id fermentum.";
}